[Unit]

[Service]
WorkingDirectory=/srv/fedora-atomic/rawhide
ExecStart=/usr/bin/rpm-ostree-toolbox taskrunner /srv/inbox/rawhide
Group=rpmostreecompose

[Install]
WantedBy=multi-user.target
