[Unit]
After=network.target

[Service]
ExecStart=/usr/bin/fedmsg-hub
Type=simple
User=rpmostreecompose
Group=rpmostreecompose

[Install]
WantedBy=multi-user.target
